@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var requestCultureCookie = Context.Request.Cookies[".AspNetCore.Culture"];
}
<div class="language">
    @foreach (var culture in SupportedCultures.CultureList)
    {
        var flagPath = $"./images/{culture.Name}.png";
        var disabled = requestCultureCookie.Contains(culture.Name) ? "disabled" : "";
        <form asp-page="Localization" asp-route-cuture="@culture.Name" asp-route-returnUrl="@returnUrl">
            <input @disabled class="flag @disabled" type="image" src="@flagPath" alt="@culture.Name" title="@culture.NativeName" />
        </form>
    }
</div>

